<div class="user-details">
    <h1>{{ site.username }} Kimdir?</h1>
    <p><i>"Şimdi değilse ne zaman?"</i></p>
</div>
<div class="user">
    <div class="tech">
        <img src="assets/img/the_best_and_last.kare.png" alt="" height="250px" width="250px">
        <h2>{{ site.user_description }}</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non risus eget odio fermentum pulvinar in non
            sem. Nunc eu odio vitae elit blandit maximus. Nunc a tempor lacus. Sed diam sapien, varius sed commodo in,
            rhoncus ac risus. Nulla vitae felis at quam ultrices consectetur in vitae dui. In mattis elit sit amet
            tempor euismod. Phasellus ut ex quis arcu faucibus aliquet. Integer et volutpat ante. Etiam eu lorem sem.
            Integer sit amet orci pharetra, volutpat mi sit amet, sodales urna. Praesent ligula ligula, egestas eget
            ultrices eu, viverra non odio.
        </p>
        <p>
            Etiam dapibus, lacus non cursus consectetur, nisl ligula lacinia erat, a sollicitudin nunc ante ac risus.
            Nam a ipsum leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Etiam iaculis eu leo ac tempor. In fermentum sed nulla eget scelerisque. Nulla sodales vitae quam a rhoncus.
            Phasellus ornare, dui vel tempor maximus, justo arcu sagittis arcu, cursus pharetra augue ante vel neque.
            Curabitur auctor ipsum turpis, at tincidunt ante varius eu. Mauris cursus nisl quis turpis vestibulum
            tincidunt. Nullam libero tellus, pretium eu sodales a, placerat sed nibh. Donec ut ex sit amet dui tempus
            aliquam ut ac est. Vestibulum rutrum fringilla leo, sit amet tristique arcu sollicitudin et. Nulla gravida
            urna nisi, at ultricies justo posuere id. Aenean placerat egestas mauris vel porttitor.
        </p>
    </div>
</div>
<hr/>
<div class="user">
    <div class="tech">
        <img src="https://raw.githubusercontent.com/drpolaton/petek/master/assets/img/organic.svg" alt="" height="250px" width="250px">
        <h2>Arı Kovanı Nedir?</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non risus eget odio fermentum pulvinar in non
            sem. Nunc eu odio vitae elit blandit maximus. Nunc a tempor lacus. Sed diam sapien, varius sed commodo in,
            rhoncus ac risus. Nulla vitae felis at quam ultrices consectetur in vitae dui. In mattis elit sit amet
            tempor euismod. Phasellus ut ex quis arcu faucibus aliquet. Integer et volutpat ante. Etiam eu lorem sem.
            Integer sit amet orci pharetra, volutpat mi sit amet, sodales urna. Praesent ligula ligula, egestas eget
            ultrices eu, viverra non odio.
        </p>
    </div>
</div>
<hr/>
<div class="user">
    <div class="tech">
        <h2>Altıgen Gruplar</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non risus eget odio fermentum pulvinar in non
            sem. Nunc eu odio vitae elit blandit maximus. Nunc a tempor lacus. Sed diam sapien, varius sed commodo in,
            rhoncus ac risus. Nulla vitae felis at quam ultrices consectetur in vitae dui. In mattis elit sit amet
            tempor euismod. Phasellus ut ex quis arcu faucibus aliquet. Integer et volutpat ante. Etiam eu lorem sem.
            Integer sit amet orci pharetra, volutpat mi sit amet, sodales urna. Praesent ligula ligula, egestas eget
            ultrices eu, viverra non odio.
        </p>
    </div>
</div>