<div class="user-details">
    <h1>{{ site.username }} Kimdir?</h1>
    <p><i>"Şimdi değilse ne zaman?"</i></p>
</div>
<div class="user">
    <div class="tech">
        <img src="assets/img/the_best_and_last.kare.png" alt="" height="250px" width="250px">
        <h2>{{ site.user_title }}</h2>
        <p>
            İTÜ Elektronik ve Haberleşme Mühendisliğinden mezun oldu. Yüksek Lisans ve Doktora eğitimlerini yine İTÜ’de
            tamamladı. Doktora eğitimi sırasında <b>Harvard-MIT Health Science and Technology</b> ve <b>Harvard Medical
            School</b>’da meme kanserinde 3-boyutlu görüntüleme ve biyogörüntüleme konularında bilimsel çalışmalar yaptı.
            <b>Harvard Medical School</b>’da <b>Mini-Opto Tomografi Cihazı</b> geliştirdi.
        </p>
        <iframe src="https://www.youtube.com/embed/jsfl6exv3lw" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <p>
            Halen AAT Bilim ve Teknoloji Üniversitesi Elektrik-Elektronik Mühendisliği Bölümünde akademisyen olarak
            bilimsel araştırmalarını sürdürmektedir.
        </p>
        <iframe src="https://www.youtube.com/embed/KFteFW_YScc" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/V1hJ_QX4OYA" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <p>
            Dr. Öğr. Üyesi Adem Polat, ortaokulda vasat bir öğrenciyken Harvard Medical School’da araştırma yapan bir
            Bilim İnsanına nasıl mı dönüştü?
        </p>
        <iframe src="https://www.youtube.com/embed/p4cQ6IoL8s4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/FDrKDYlLTnM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <p>
            Bu sorunun yanıtı ve üniversiteye dair tüm soruların yanıtları Dr. Polaton’la, YouTube’da!
        </p>
    </div>
</div>
<hr/>
<div class="user">
    <div class="tech">
        <h2>YouTube konuları:</h2>
        <p>Harvard-MIT ve Ötesi</p>
        <p>İTÜ</p>
        <p>Mühendislik Öğrenimi</p>
        <p>Elektrik-Elektronik Mühendisliği Öğrenimi</p>
        <p>Üniversite Matematiğinin Anlam ve Önemi</p>
        <p>Yurtdışı Öğrenim</p>
        <p>Yüksek Lisans Öğrenimi</p>
        <p>Doktora Öğrenimi</p>
        <p>Bilimin Büyülü Dünyası</p>
        <p>Bilim ve Tiyatro</p>
        <p>Kampüs Yaşamı</p>
        <p>YKS (TYT-AYT) ve LGS Sınavlarına Hazırlık</p>
        <p>Sınavlarda Türkiye Derecesi Nasıl Yapılır?</p>
        <p>Üniversite ve Bölüm Seçiminde Doğru Tercih Nasıl Yapılır?</p>
    </div>
</div>
